<nb-card>
    <nb-card-body>
      <nb-stepper orientation="horizontal">
        <nb-step [label]="labelProcpecto">
          <ng-template #labelProcpecto>Prospecto</ng-template>
          
          <ngx-propecto></ngx-propecto>
          <!-- <p class="lorem">
            Propecto
          </p> -->
          <!-- <button nbButton disabled nbStepperNext>prev</button> -->
          <button nbButton nbStepperNext>Próximo</button>
        </nb-step>
        <nb-step [label]="labelNegociacao">
          <ng-template #labelNegociacao>Negociação</ng-template>
          <!-- <h4>Step content #2</h4>
          <p class="lorem">
           Negociacao
          </p> -->
          <ngx-negociacao></ngx-negociacao>
          <button nbButton nbStepperPrevious class="mr-3">Voltar</button>
          <button nbButton nbStepperNext>Proximo</button>
        </nb-step>
        <nb-step [label]="labelFecharVenda">
          <ng-template #labelFecharVenda>Fechar Venda</ng-template>
          <!-- <h4>Fechar venda</h4>
          <p class="lorem">
           fechar venda
          </p> -->
          <ngx-venda-fechada></ngx-venda-fechada>
          <button nbButton nbStepperPrevious class="mr-3">Voltar</button>
          <button nbButton nbStepperNext>Finalizar</button>
        </nb-step>
       
      </nb-stepper>
    </nb-card-body>
  </nb-card>