<nb-card>
  <nb-card-header>
    <nb-card status="danger">
      <nb-card-header>
          <div class="d-flex justify-content-center">
              <span>Adicionar tipo de Conta</span>
          </div>
      </nb-card-header>
  </nb-card>
  </nb-card-header>
    <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="source"
          (createConfirm)="adicionarTipoContaPaga($event)"
          (editConfirm)="editarTipoContaPaga($event)"
          (deleteConfirm)="deletarTipoContaPaga($event)">
        </ng2-smart-table>
    </nb-card-body>

</nb-card>
