<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12">
                <nb-card>
                    <nb-card-header>Filtros</nb-card-header>
                    <nb-card-body>
                        <div class="row">
                            <div class="col-sm-4 form-group mt-2">
                                <!-- <label for="selectDateDe" class="label">De</label> -->
                                <input nbInput placeholder="De" [nbDatepicker]="formpicker" id="selectDateDe" fullWidth>
                                <nb-datepicker #formpicker></nb-datepicker>
                            </div>
                            <div class="col-sm-4 form-group mt-2">
                                <!-- <label for="selectDateAte" class="label">De</label> -->
                                <input nbInput placeholder="até" [nbDatepicker]="formpicker" id="fullWidth" fullWidth>
                                <nb-datepicker #formpicker></nb-datepicker>
                            </div>
                            <div class="col-sm-4">
                                <button nbButton status="success" fullWidth>
                                   Filtrar
                                  </button>
                            </div>
                        </div>
                       
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <nb-card>
                    <nb-card-header>
                        <span class="d-flex justify-content-center">A pagar</span>
                    </nb-card-header>
                    <nb-card-body>
                        <div class="d-flex justify-content-center">                    
                            <h6 class="color-dividento">- R$ 100,00</h6>
                        </div>                
                    </nb-card-body>
                </nb-card>
            </div>
             
            <div class="col-sm-6">
                <nb-card>
                    <nb-card-header>               
                        <span class="d-flex justify-content-center">A receber</span>                
                    </nb-card-header>
                    <nb-card-body>
                        <div class="d-flex justify-content-center">                   
                            <h6 class="color-recebiveis">R$ 100,00</h6>
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-12">
                <nb-card>
                    <nb-card-header>
                        <span class="d-flex justify-content-center">Total</span>
                    </nb-card-header>
                    <nb-card-body>
                        <div class="d-flex justify-content-center">                    
                            R$ 50,00
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <nb-card>
            <nb-card-body>
                <ngx-echarts-pie></ngx-echarts-pie>
            </nb-card-body>
        </nb-card>   
    </div>
</div>


<nb-flip-card>
    <nb-card-front>
      <nb-card>
        <nb-card-body>
          <div class="row">
            <div class="col-sm-6">
                <ngx-dividentos></ngx-dividentos>
            </div>
            <div class="col-sm-6">
                <ngx-recebiveis></ngx-recebiveis>
            </div>
          </div>
          <br/>
        </nb-card-body>
      </nb-card>
    </nb-card-front>
    <nb-card-back>
      <nb-card heigth="500px">
        <nb-card-body>
            <div >
                <ngx-chartjs-line></ngx-chartjs-line>
            </div>          
        </nb-card-body>
      </nb-card>
    </nb-card-back>
  </nb-flip-card>