<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12">
                <nb-card>
                    <nb-card-header>Filtros</nb-card-header>
                    <nb-card-body>
                        <div class="row">
                            <div class="col-sm-4 form-group mt-2">
                                <input nbInput placeholder="De" [nbDatepicker]="formpicker" id="selectDateDe" fullWidth
                                    shape="semi-round">
                                <nb-datepicker #formpicker></nb-datepicker>
                            </div>
                            <div class="col-sm-4 form-group mt-2">
                                <input nbInput placeholder="até" [nbDatepicker]="formpicker" id="fullWidth" fullWidth
                                shape="semi-round">
                                <nb-datepicker #formpicker></nb-datepicker>
                            </div>
                            <div class="col-sm-4">
                                <button nbButton status="primary" fullWidth shape="semi-round">
                                   Filtrar
                                </button>
                            </div>
                        </div>

                    </nb-card-body>
                </nb-card>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <nb-card>
                    <nb-card-header>
                        <span class="d-flex justify-content-center">Contas Pagas</span>
                    </nb-card-header>
                    <nb-card-body>
                        <div class="d-flex justify-content-center">
                            <h6 class="color-dividento">- {{ formatarMoeda(valorPago) }}</h6>
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>

            <div class="col-sm-4">
                <nb-card>
                    <nb-card-header>
                        <span class="d-flex justify-content-center">Valor Recebido</span>
                    </nb-card-header>
                    <nb-card-body>
                        <div class="d-flex justify-content-center">
                            <h6 class="color-recebiveis"> {{ formatarMoeda(valorRecebido) }} </h6>
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>

            <div class="col-sm-4">
              <nb-card>
                  <nb-card-header>
                      <span class="d-flex justify-content-center">Total</span>
                  </nb-card-header>
                  <nb-card-body>
                      <div class="d-flex justify-content-center">
                          <h6><span [ngClass]="total > 0 ? 'color-recebiveis' : 'color-dividento'" >{{ formatarMoeda(total) }}</span></h6>
                      </div>
                  </nb-card-body>
              </nb-card>
          </div>
        </div>

        <div class="row">

        </div>
    </div>
    <div class="col-sm-6">
        <nb-card>
            <nb-card-body>
                <ngx-grafico-pizza></ngx-grafico-pizza>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<nb-flip-card>
    <nb-card-front>
        <nb-card>
            <nb-card-header>Cadastros de Contas</nb-card-header>
            <nb-card-body>
            <div class="row">
                <div class="col-sm-6">
                    <ngx-cadastrar-contas-pagas></ngx-cadastrar-contas-pagas>
                </div>
                <div class="col-sm-6">
                    <!-- <ngx-cadastrar-valor-recebido></ngx-cadastrar-valor-recebido> -->
                     <ngx-cadastrar-valor-recebido></ngx-cadastrar-valor-recebido>
                </div>
            </div>
            <br/>
            </nb-card-body>
        </nb-card>
    </nb-card-front>
    <nb-card-back>
      <nb-card heigth="500px">
        <nb-card-body>
            <div>
                <ngx-grafico-linha></ngx-grafico-linha>
                <br/>
            </div>
        </nb-card-body>
      </nb-card>
    </nb-card-back>
  </nb-flip-card>
