<div class="row">
    <div class="col-sm-3">
        <nb-card>
            <nb-card-header>
                <span class="d-flex justify-content-center">Dividentos</span>
            </nb-card-header>
            <nb-card-body>
                <div class="d-flex justify-content-center">                    
                    <h5 class="color-dividento">- R$ 100,00</h5>
                </div>                
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-sm-3">
        <nb-card>
            <nb-card-header>               
                <span class="d-flex justify-content-center">Recebiveis</span>                
            </nb-card-header>
            <nb-card-body>
                <div class="d-flex justify-content-center">                   
                    <h5 class="color-recebiveis">R$ 100,00</h5>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <!-- <div class="col-sm-5">
        <ngx-echarts-pie></ngx-echarts-pie>
    </div> -->
</div>
<div class="row">
    <div class="col-sm-6">
        <nb-card>
            <nb-card-header>
                <span class="d-flex justify-content-center">Total</span>
            </nb-card-header>
            <nb-card-body>
                <div class="d-flex justify-content-center">                    
                    R$ 50,00
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<nb-flip-card>
    <nb-card-front>
      <nb-card>
        <nb-card-body>
          <div class="row">
            <div class="col-sm-6">
                <ngx-dividentos></ngx-dividentos>
            </div>
            <div class="col-sm-6">
                <ngx-recebiveis></ngx-recebiveis>
            </div>
          </div>
          <br/>
        </nb-card-body>
      </nb-card>
    </nb-card-front>
    <nb-card-back>
      <nb-card>
        <nb-card-body>
          Back
        </nb-card-body>
      </nb-card>
    </nb-card-back>
  </nb-flip-card>