<div class="row">
    <div class="col-lg-6">
        <nb-card>
            <nb-card-header>Tipo Pessoa</nb-card-header>
            <nb-card-body>
                <nb-select selected="S" [(ngModel)]="tipoPessoa">
                    <nb-option value="S" >Selecione</nb-option>
                    <nb-option value="F">Física</nb-option>
                    <nb-option value="J">Jurídico</nb-option>
                  </nb-select>
            </nb-card-body>
        </nb-card>
        <ngx-cliente-formulario [tipoPessoa]="tipoPessoa"></ngx-cliente-formulario>
    </div>
    <div class="col-lg-6">
        <ngx-endereco></ngx-endereco>
    </div>
</div>