<nb-accordion>
    <nb-accordion-item>
        <nb-accordion-item-header>Contato</nb-accordion-item-header>
        <nb-accordion-item-body>
            <nb-tabset>
                <nb-tab tabTitle="Telefone" tabIcon="phone-outline">
                    <ngx-telefone></ngx-telefone>
                </nb-tab>
                <nb-tab tabTitle="E-mail" tabIcon="email-outline">
                    <ngx-email></ngx-email>
                </nb-tab>
            </nb-tabset>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>       
