<nb-card>
    <nb-card-body>
        <nb-card>
            <nb-card-header>
                <div class="d-flex justify-content-center">
                    <span>Valor Recebido</span>
                </div>
            </nb-card-header>
        </nb-card>
        
        <div class="d-flex justify-content-end">
            <button nbButton status="primary" ghost (click)="popupTipoValorRecebido()"  shape="semi-round">
                + Tipo Valor    
            </button>
        </div>
        
        <ng2-smart-table [settings]="settings" [source]="source">
        </ng2-smart-table>
    </nb-card-body>
</nb-card>
