<nb-card>
  <nb-card-header>
    <nb-card status="primary">
      <nb-card-header>
          <div class="d-flex justify-content-center">
              <span>Valor Recebido</span>
          </div>
      </nb-card-header>
  </nb-card>
  </nb-card-header>
    <nb-card-body>
        <div class="d-flex justify-content-end">
            <button nbButton status="primary" ghost (click)="popupTipoValorRecebido()"  shape="semi-round">
                + Tipo Valor
            </button>
        </div>

        <ng2-smart-table [settings]="settings" [source]="source"
          (createConfirm)="adicionarValorRecebido($event)"
          (editConfirm)="editarValorRecebido($event)"
          (deleteConfirm)="deletarValorRecebido($event)">
        </ng2-smart-table>

        <div class="row mt-3" *ngIf="totalRegistros > 0">
          <div class="col-sm-12">Total Registros: {{ totalRegistros }} </div>
        </div>
    </nb-card-body>
</nb-card>
