<nb-card>
    <nb-card-body>
        <nb-card>
            <nb-card-header>
                <div class="d-flex justify-content-center">
                    <span >Adicionar tipo de Recebiveis</span>
                </div>
                
            </nb-card-header>
        </nb-card>
        <ng2-smart-table [settings]="settings" [source]="source">
        </ng2-smart-table>
    </nb-card-body>
    <!-- <nb-card-footer>
        <div class="d-flex justify-content-end">
            <button nbButton hero status="danger" (click)="fechar()">Fechar</button>
        </div>
    </nb-card-footer> -->
  </nb-card>
  